* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./assets/img/fondo.jpg");
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 100px;
  text-align: center;
  /* background: rgb(36, 30, 126);
  background: linear-gradient(
    90deg,
    rgba(36, 30, 126, 1) 0%,
    rgba(157, 129, 191, 1) 35%,
    rgba(36, 30, 126, 1) 100%
  ); */
}

header img {
  width: 100px;
  height: 100px;

  align-self: center;
}

.content {
  text-align: center;
  align-self: center;
}
h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: white;
  align-self: center;
}
h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: white;
  align-self: center;
}
.info {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: black;
  align-self: center;
  margin: 30px;
}

.info p {
  margin-bottom: 20px;
}
/* Estilos adicionales para la apariencia de la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.inventario {
  width: 100%;
  max-width: 800px;
  height: auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
}

th {
  background-color: #f2f2f2;
}
/*  */
.agregar {
  box-shadow: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 20px;
  padding: 10px 10px;
  margin: 20px;
  align-items: center;
}
.agregar:hover {
  background-color: #9d81bf;
}
.quitar {
  box-shadow: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 20px;
  padding: 10px 10px;
  align-items: center;
}
.quitar:hover {
  background-color: #9d81bf;
}

@media (max-width: 768px) {
  .inventario {
    width: 90%;
    font-size: 10px; /* Ajusta el tamaño de fuente según tus necesidades */
    border-spacing: 2px; /* Ajusta el espaciado entre celdas */
  }
  table {
    border-collapse: collapse;
    margin-top: 10px;
  }
}
